[submodule "CIS2430_A2"]
	path = CIS2430_A2
	url = https://github.com/rabiaq123/CIS2430_A2.git
[submodule "CIS3110_A4"]
	path = CIS3110_A4
	url = https://github.com/rabiaq123/CIS3110_A4.git
[submodule "CIS3110_A3"]
	path = CIS3110_A3
	url = https://github.com/rabiaq123/CIS3110_A3.git
[submodule "CIS3490_A3"]
	path = CIS3490_A3
	url = https://github.com/rabiaq123/CIS3490_A3.git
[submodule "CIS3750"]
	path = CIS3750
	url = https://github.com/rabiaq123/CIS3750_JS.git
[submodule "CIS2750"]
	path = CIS2750
	url = https://github.com/rabiaq123/CIS2750.git
[submodule "CIS3530_A1"]
	path = CIS3530_A1
	url = https://github.com/rabiaq123/CIS3530_A1.git
[submodule "CIS3530_A2"]
	path = CIS3530_A2
	url = https://github.com/rabiaq123/CIS3530_A2
[submodule "CIS3530_A3"]
	path = CIS3530_A3
	url = https://github.com/rabiaq123/CIS3530_A3.git
[submodule "CIS3190_A1"]
	path = CIS3190_A1
	url = https://github.com/rabiaq123/CIS3190_A1.git
[submodule "CIS3190_A2"]
	path = CIS3190_A2
	url = https://github.com/rabiaq123/CIS3190_A2.git
[submodule "CIS3190_A3"]
	path = CIS3190_A3
	url = https://github.com/rabiaq123/CIS3190_A3.git
[submodule "CIS3190_A4"]
	path = CIS3190_A4
	url = https://github.com/rabiaq123/CIS3190_A4.git
